extends layout_Customer

block content
  div(class="logo-costumerEntry")
    h3(style="font-weight: bold; text-align:center")   请选择您心怡的服装款式
    hr(style="border-top:7px dotted #3366CC;")
    table(style="background-color: #FFFF00; margin: 0 auto;")
        tbody
            tr(height="130px")
                td(class="choiceTdLeft" width="50%" onclick="location.href='http://thirdtry.cloudapp.net:3100/cata/suit'")
                    西装
                td(class="choiceTdRight" width="50%" onclick="location.href='http://thirdtry.cloudapp.net:3100/cata/cheongsam'")
                    旗袍
            tr(height="130px")
                td(class="choiceTdLeft" width="50%" onclick="location.href='/login'")
                    大衣
                td(class="choiceTdRight" width="50%" onclick="location.href='http://thirdtry.cloudapp.net:3100/cata/sweater'")
                    羊毛衫
            tr(height="130px")
                td(class="choiceTdLeftBottom" width="50%" onclick="location.href='/login'")
                    时装
                td(class="choiceTdRightBottom" width="50%" onclick="location.href='/login'")
                    啥都要					