doctype html
html
    head
        title= 'MyTailer'
        link(rel='stylesheet', href='/stylesheets/bootstrap/css/bootstrap.min.css')
        meta(name="viewport" content="width=device-width, initial-scale=1")
        script(src='/javascripts/jquery-2.1.4.js')
        style.
            html{ 
                background: url(/images/cEntryBg2.jpg) no-repeat center center fixed; 
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
            }
            .alert{
                max-width: 70%;
                margin: 0px auto 10px auto;
            }
            .panel{
                max-width:600px;
                background-color: rgba(255,255,255,0.7);
            }
            body{
                background-size: contain;
            }
            .3Btn-customerEntry{   
                max-width: 300px; 
                margin:100px auto; 
                padding: 15px;
            }
            .P-customerEntry{ 
                margin-left: 20%;
                margin-top: 10%;
            }	   
            @media only screen  
                and (max-device-width: 736px) { 
                   .panel{
                        max-width: 80%;
                    }
                }
            .smooth-corner{
                border-radius: 10px 10px 10px 10px; 
                -moz-border-radius: 10px 10px 10px 10px;
                -webkit-border-radius: 10px 10px 10px 10px;
                border: 0px solid #000000;
            }
            .choiceBtn{
                width: 35%;
                border-radius: 0;
            }
            .choiceTitle{
                color: rgba(237,233,169,0.95);
                font-weight: bold;
                font-size: 64px;
                margin-top: 30%;
            }
            .btn-primary {
                color: #fff;
                background-color: rgba(212,175,55,0.7);
                border-color: rgba(212,175,55,0.8);
            }
            .btn-primary:disabled {
                color: #fff;
                background-color: rgba(212,175,55,0.7);
                border-color: rgba(212,175,55,0.8);
            }
            .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:disabled:hover, .btn-primary.active, .open>.dropdown-toggle.btn-primary{
                color: #fff;
                background-color: rgba(212,175,55,1);
                border-color: rgba(212,175,55,1);
            }           
        script.
            $("#input-id").rating();
            $("#input-id").rating({min:1, max:10, step:2, size:'lg'});
    body(style="background-color: rgba(255,255,255,0); text-align: center;")  
        div(class="3Btn-customerEntry")
            h3(class="choiceTitle")
                款式选择
            p(style="margin-top: 10%")
            a(href="http://thirdtry.cloudapp.net:3100/cata/suit" class="choiceBtn btn btn-primary btn-lg " role="button") 西&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp装
            a(style="margin-left:10%;" href="http://thirdtry.cloudapp.net:3100/cata/cheongsam" class="choiceBtn btn btn-primary btn-lg " role="button") 旗&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp袍	
            p(style="margin-top: 10%")
            a(href="http://thirdtry.cloudapp.net:3100/cata/suit" class="choiceBtn btn btn-primary btn-lg " role="button") 大&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp衣
            a(style="margin-left:10%;" href="http://thirdtry.cloudapp.net:3100/cata/suit" class="choiceBtn btn btn-primary btn-lg " role="button") 羊&nbsp&nbsp毛&nbsp&nbsp衫
            p(style="margin-top: 10%")
            a(href="http://thirdtry.cloudapp.net:3100/cata/suit" class="choiceBtn btn btn-primary btn-lg " role="button") 时&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp装
            a(style="margin-left:10%;" href="http://thirdtry.cloudapp.net:3100/cata/suit" class="choiceBtn btn btn-primary btn-lg " role="button") 都&nbsp&nbsp看&nbsp&nbsp看			
        footer 
            script(src='/stylesheets/bootstrap/js/bootstrap.min.js')