extends layout_Customer

block content
  div(class="logo-costumerEntry")
    table(width="100%" height="150px")
        tbody
            tr
                td(style="border-bottom: 3px solid #EEE; text-align: center; font-size: 40px" width="20%")
                    p 选
                    p 择
                td(swidth="60%")
                    img(src="/images/typeChooseThinking2.gif" width="100%" height="100%")
                td(style="border-bottom: 3px solid #EEE; text-align: center; font-size: 40px" width="20%")
                    p 哪
                    p 款
    table(style="margin: 0 auto;")
        tbody
            tr(height="150px")
                td(class="choiceTdLeftImg" width="50%" onclick="location.href='http://thirdtry.cloudapp.net:3100/cata/suit'")
                    img(src='/images/choicexizhuang1.jpeg' alt="西装" height="170px" width="100%")
                td(class="choiceTdRightImg" width="50%" onclick="location.href='http://thirdtry.cloudapp.net:3100/cata/cheongsam'")
                    img(src='/images/choiceqipao1.jpg' alt="旗袍" height="170px" width="100%")
            tr(height="30px")
                td(class="choiceTdLeft" style="background-color:#ffff4d" width="50%" onclick="location.href='http://thirdtry.cloudapp.net:3100/cata/suit'")
                    西装
                td(class="choiceTdRight" style="background-color:#66ffff" width="50%" onclick="location.href='http://thirdtry.cloudapp.net:3100/cata/cheongsam'")
                    旗袍
            tr(height="150px")
                td(class="choiceTdLeftImg" width="50%" onclick="location.href='http://thirdtry.cloudapp.net:3100/cata/suit'")
                    img(src='/images/choiceDayi1.jpg' alt="大衣" height="170px" width="100%")
                td(class="choiceTdRightImg" width="50%" onclick="location.href='http://thirdtry.cloudapp.net:3100/cata/cheongsam'")
                    img(src='/images/choiceYangmaoshan1.jpg' alt="羊毛衫" height="170px" width="100%")
            tr(height="30px")
                td(class="choiceTdLeft" style="background-color:#ff6666" width="50%" onclick="location.href='http://thirdtry.cloudapp.net:3100/cata/suit'")
                    大衣
                td(class="choiceTdRight" style="background-color:#9fff80" width="50%" onclick="location.href='http://thirdtry.cloudapp.net:3100/cata/cheongsam'")
                    羊毛衫
            tr(height="150px")
                td(class="choiceTdLeftImg" width="50%" onclick="location.href='http://thirdtry.cloudapp.net:3100/cata/suit'")
                    img(src='/images/choiceShizhuang1.jpg' alt="时装" height="170px" width="100%")
                td(class="choiceTdRightImg" width="50%" onclick="location.href='http://thirdtry.cloudapp.net:3100/cata/cheongsam'")
                    img(src='/images/choiceAll.jpg' alt="啥都要" height="170px" width="100%")
            tr(height="30px")
                td(class="choiceTdLeftBottom" style="background-color:#8080ff" width="50%" onclick="location.href='/login'")
                    时装
                td(class="choiceTdRightBottom" style="background-color:#ffa366" width="50%" onclick="location.href='/login'")
                    啥都要					