extends layout_Customer

block content
  div(class='panel')
    p(style='word-warp:break-word')好消息！你的订单已经送达裁缝！你们可以对话了
    p 或者你也可以
  a(type="button" class="btn btn-link" href='/mycustomer/customerEntry') 继续逛逛
  a(type="button" class="btn btn-link" href='/myCustomer' ) 我的主页
