extend layout

block content 
  if orders
   div(id='myCarousel' class="carousel slide" data-interval = 'false')
    div(class="carousel-inner" role="listbox")
     div(class='item active')
      div(class="list-group")      
       for order in orders
        div(class='list-group-item order' style='width:80%;margin:10px auto' href="#myCarousel" data-slide='next' data=order)
          span(class="glyphicon glyphicon-chevron-right" style='float:right')   
          h4(class="list-group-item-heading") 来自 #{order.buyer} 的订单
          p(class="list-group-item-text") 于 #{order.createDate} 下单          
     div(class='item')  
      div(id='detail' class='panel smooth-corner' style='margin:0 auto; width:80%')
       div(class='panel-body')
        h4 订单来自：
        h4(id='detail-buyer')
        p 下单日期：
        p(id='detail-createDate')
        div(class='well')
          p 物品名称:
          p(id='detail-title')
          p 已选面料：
          p(id='detail-fabric')
          p 原价
          p(id='detail-price')
          p 面料价格
          p(id='detail-plus')
          p 总价
          p(id='detail-total')
        span(href="#myCarousel" data-slide='prev' class="glyphicon glyphicon-chevron-left")
      button(class='btn btn-info' onclick='reload()' style='margin:10px auto;display:block') 完成         
  script.
   $(document).ready(function(){
       $('.order').click(function(){
           var data = $.parseJSON($(this).attr('data'));
           $('#detail-buyer').html(data.buyer);
           $('#detail-createDate').html(data.createDate);
           $('#detail-title').html(data.title);
           $('#detail-fabric').html(data.fabric);
           $('#detail-price').html(data.price);
           $('#detail-plus').html(data.pricePlus);
           $('#detail-total').html(data.total);
       });
   });   
   function reload(){location.reload()};