extend layout

block content 
  if orders
   div(id='myCarousel' class="carousel slide" data-interval = 'false')
    div(class="carousel-inner" role="listbox")
     div(class="list-group")
      for order in orders
       div(class='item active')
        div(class='list-group-item' style='width:60%;margin:0 auto')
         a(href="#myCarousel" data-slide='next' class="list-group-item")
          h4(class="list-group-item-heading") 来自 #{order.buyer} 的订单
          p(class="list-group-item-text") 于 #{order.createDate} 下单
       
     