extends layout

block content  
  form(class='panel smooth-corner' style='margin:0px auto 20px;')
    lable 店铺名称
    br
    lable 店铺描述
  a()
   button(class='btn btn-success' style='margin:0px auto 30px;display:block;width:50%' ) 查看订单
  a(href = '/upload')
   button(class='btn btn-info' style='margin:0px auto 30px;display:block;width:50%' ) +添加商品
  if data
    for el in data
     div(class='panel panel-default smooth-corner' style='margin:0px auto 30px;')
       div(class="panel-heading" style="background: rgba(255,255,255,.9)")
         h3(class="panel-title")= el.title
            span(style='float:right;color: rgba(77,0,255,0.54)')= el.ownerName
       div(class='panel-body')
          img(src= el.img style='max-width:100%;margin: 0 0 10px;')
          p= el.description  
          if(private)
          a(href='/delete/'+el.uploadTime)
           img(src='/images/trash.png' style='float:right;height:30px')        
  else
    p Oops cannot find anything, Try again!