extends layout

block content
 form(class='panel' method ='post' action='/upload' enctype="multipart/form-data")
      h3(class="panel-title") upload here
      canvas(id='resize' style='max-width:100%;margin: 0 0 10px')
      //img(id='uploadImg' style='max-width:100%;margin: 0 0 10px' )
      input(id="myFileInput" type="file" accept="image/*;capture=camera" name='itemImage' required)
      span(style='float:right')
      label name
      input(name='title' class="form-control" placeholder="set a name for you item" required)
      label description
      input(name='description' class="form-control" placeholder="make your item appealing" required)
      button(class="btn btn-lg btn-primary btn-block" type="submit") submit
  script.
   document.getElementById('myFileInput').addEventListener('change',function(){
      console.log('file info');
      var reader = new FileReader();
      reader.onload = function(e){
        //document.getElementById('uploadImg').src = e.target.result;
        var img = new Image;
        img.src = e.target.result;
        var canvas = document.getElementById('resize');
        var MAX_WIDTH = 800;
        var MAX_HEIGHT = 600;
        var width = img.width;
        var height = img.height;
        if (width > height) {
          if (width > MAX_WIDTH) {
             height *= MAX_WIDTH / width;
             width = MAX_WIDTH;
          }
        } else {
          if (height > MAX_HEIGHT) {
             width *= MAX_HEIGHT / height;
             height = MAX_HEIGHT;
          }
        } 
        canvas.width = width;
        canvas.height = height;
        var ctx = canvas.getContext("2d");
        ctx.drawImage(img, 0, 0, width, height); 
        localStorage.setItem('resizedImg', canvas.toDataURL('image/png'));
      };
      reader.readAsDataURL(this.files[0]);
      console.dir(this.files[0]);
   });
   
