extends layout

block content
  
  form(class='panel' method ='post' action='/upload' enctype="multipart/form-data" style='position:relative')
      h3(class="panel-title") upload here
      //canvas(id='resize' style='max-width:100%;margin: 0 0 10px')
      img(id='uploadImg' style='max-width:100%;margin: 0 0 10px' )
      input(id="myFileInput" type="file" accept="image/*;capture=camera" name='itemImage' required)
      span(style='float:right')
      label 名称
      input(id='title' name='title' class="form-control" placeholder="set a name for you item" required)
      label 描述
      input(id='description' name='description' class="form-control" placeholder="make your item appealing" required)
      label(class='price') 价格
      input(id='price' name='price' class="form-control" placeholder="定一个价格" required)      
      label(class='form-control')
        span(style='float:right') +总价的20%
        span(style='float:left' id='charge')
      span(id='total' style='float:right')
      label 总价 =        
      br
      label 商品类别
      br
      label
       input(type='radio' name='catag' value='sweater')   
       羊毛衫
      label
       input(type='radio' name='catag' value='suit')   
       西装
      label
       input(type='radio' name='catag' value='chaongsam')   
       旗袍
      label
       input(type='radio' name='catag' value='fashion')   
       时装
      label
       input(type='radio' name='catag' value='coat')   
       大衣
      br 
      label 默认面料
      input(id='fabric' name='fabric' class="form-control" placeholder="请输入默认的面料名称" required) 
      span(class='glyphicon glyphicon-plus' id='addParam' style='float:right')
      label 可选面料
      label(style='color:red' id='error')
      div(class='parameters')
      span(class='glyphicon glyphicon-plus' id='addstyle' style='float:right')
      label 其他选项
      div(class='styles')
      div(id='hint' style='color:red')
      button(class="btn btn-lg btn-primary btn-block" type="submit" style='margin:20px auto 10px') 上传
      //div(class='panel smooth-corner' style='width:100%;height:100%;top:0;left:0; position:absolute')
      p(style='text-align:center;display:none' id='uploading')正在上传，请不要刷新页面
  script(src='/javascripts/upload.js')
   
   
