extends layout

block content
 form(class='panel' method ='post' action='/upload' enctype="multipart/form-data")
      h3(class="panel-title") upload here
      canvas(id='resize' style='max-width:100%;margin: 0 0 10px')
      //img(id='uploadImg' style='max-width:100%;margin: 0 0 10px' )
      input(id="myFileInput" type="file" accept="image/*;capture=camera" name='itemImage' required)
      span(style='float:right')
      label name
      input(id='title' name='title' class="form-control" placeholder="set a name for you item" required)
      label description
      input(id='description' name='description' class="form-control" placeholder="make your item appealing" required)
      label(class='price') 价格
      input(id='price' name='price' class="form-control" placeholder="make your item appealing" required)
      button(class="btn btn-lg btn-primary btn-block" type="submit") submit
  script(src='/javascripts/upload.js')
   
   
